/*
    Script by Ryan England - Github: stellyes
    https://github.com/stellyes/reset-css-generator
                
    Template for reset.css information:
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
label,
div,
aside,
h3,
body,
li,
article,
html,
h2,
a,
footer,
nav,
form,
img,
p,
ul,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
aside,
article,
footer,
header {
  display: block;
}
body {
  display: block;
}
